
<h1 class="headline">Welcome to my Firehose quiz app!</h1>

<h2 class="description">Here are a few photos from my recent trip to Morocco.</h2>

<%= image_tag 'quiz_02.JPG', class:"photos" %>
<%= image_tag 'quiz_03.JPG', class:"photos" %>
<%= image_tag 'quiz_04.JPG', class:"photos" %>
<%= image_tag 'quiz_01.JPG', class:"photos" %>
<%= image_tag 'quiz_05.JPG', class:"photos" %>
<%= image_tag 'quiz_06.JPG', class:"photos" %>
<%= image_tag 'quiz_07.JPG', class:"photos" %>

</div>



